trigger: none

pr:
- master
- release/*

variables:
  _solution: 'src/CoreWCF.sln'
  _libraryProjects: 'src/CoreWCF.*/src/CoreWCF.*.csproj'
  _testProjects: '**/*.Tests.csproj'
  disable.coverage.autogenerate: 'true'

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestStage.yml
  parameters:
    testProjects: $(_testProjects)