trigger: none

pr:
  branches:
    include:
    - main
    - release/*
    - feature/*
  paths:
    exclude:
    - src/CoreWCF.Templates/
    - src/CoreWCFTemplates.sln
    - templates/TestTemplatesStage.yml

variables:
  _solution: src/CoreWCF.sln
  _libraryProjects: |
    src/CoreWCF.*/src/CoreWCF.*.csproj
    !src/CoreWCF.Templates/src/CoreWCF.Templates.csproj
  _testProjects: |
    **/CoreWCF.Http.Tests.csproj
    !**/CoreWCF.Templates.Tests.csproj

stages:
- template: templates/BuildStage.yml
  parameters:
    buildProjects: $(_libraryProjects)

- template: templates/TestStage.yml
  parameters:
    testProjects: $(_testProjects)

- template: templates/CodeAnalysis.yml
  parameters:
    testProjects: $(_testProjects)
    solution: $(_solution)
