<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel" type="CoreWCF.Configuration.ServiceModelSectionGroup, CoreWCF.ConfigurationManager">
      <section name="services" type="CoreWCF.Configuration.ServicesSection, CoreWCF.ConfigurationManager" />
      <section name="bindings" type="CoreWCF.Configuration.BindingsSection, CoreWCF.ConfigurationManager" />
    </sectionGroup>
  </configSections>
</configuration>
